extends ./layout.pug
block content
    include ./partials/_header.pug
    .app--tweet
        include ./partials/_post-tweet.pug
    .bounds.app--body
        .app--section--header
            include ./partials/_app-section-headings.pug
        .grid-33
            .app--section
                include ./partials/_tweet-list.pug
        .grid-33
            .app--section
                include ./partials/_user-list.pug
        .grid-33
            .app--section
                include ./partials/_message-list.pug
