doctype html
html(lang="en")
    include ./partials/_head.pug

    body
        block content

        // jquery script
        script(src='https://code.jquery.com/jquery-3.1.1.js',integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
        
        // App client script
        script(src='/static/js/app.js')
